<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
</head>
    <h1>Notes</h1>
<body>
    <a href="/notes/newNote">
        <button type="button">Click here to create a new note</button>
    </a>
    <table>
        <thead>
        <tr>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="note :${allNotes}">
                <td th:text="${note.title}"></td>
                <td>
                    <a th:href="@{'/notes/content/' + ${note.id}}">
                        <button type="button"> Mirar contenido</button>
                    </a>
                </td>
                <td>
                    <if></if>
                    <form th:action="@{'/notes/delete/' + ${note.id}}" method="post" style="display:inline;">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <form th:action="@{/logout}" method="post" style="display:inline;">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit">Logout</button>
    </form>
</body>
</html>